<!DOCTYPE html>
<html>

<head>
<title>Computer Networking Fall 2015</title>
<link rel=stylesheet href={{ url_for('static', filename='style.css') }} type=text/css>
</head>

<body>

<div id="playerCreate">
	Enter your character information: <br />
	Name: <input id="playerCreateName" /> <br>
	<br>
	<button id="playerCreateSend">Submit</button>

</div>

<div id="gameWindow">

	<div id="playerActions">
		<button id="attack">Attack</button>
	</div>

	<div id="monsters">
		Enemies: <br />
	</div>

	<br />

	<div id="player">
	</div>

	<br />

	<div id="party">
	</div>

	<br />

	<div id="chat">
		<ul id="chatMessages"> </ul>
		<br />
		<input id="chatMessage" /><button id="send">Send</button>
	</div>

</div>

<div id="disconnect">
You have been kicked for inactivity.
</div>


<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var socket = io.connect('http://' + document.domain + ':' + location.port + "/rpg");
		$("#gameWindow").hide();
		$("#disconnect").hide();

		//*** GLOBAL VARIABLES ***//
		var roomName = "";
		var player = "";
		var playerNameVerify = "";

		//*** CONNECTION ***//
		socket.on('connect', function() {
			//console.log("connected.");
		});

		socket.on("disconnect", function() {
			//console.log("disconnected!");
		});

		//*** CHAT ***//
		$("#send").click(function() {
			var data = {
				"roomName": roomName,
				"playerName": player.name,
				"message": $("#chatMessage").val()
			}
			socket.emit("chatMessage", JSON.stringify(data));
			$("#chatMessage").val("");
		});

		socket.on("chatMessage", function(data) {
			$("#chatMessages").append($("<li>").text(data.playerName + ": " + data.message));
			//console.log(message);
		});

		//*** PLAYER AND ROOM META ***//
		$("#playerCreateSend").click(function() {
			playerNameVerify = $("#playerCreateName").val();
			var information = {
				player: {
					"name": $("#playerCreateName").val()
				}
			};
			socket.emit("playerJoin", JSON.stringify(information));
		});

		socket.on("confirmPlayerJoin", function(json) {
			checkPlayer = json.player;
			if(checkPlayer.name === playerNameVerify){
				roomName = json.roomName;
				player = json.player;

				console.log("confirmed, room is " + json.roomName);
				console.log("Player Information: ");
				console.log(player);

				updatePlayer(player);

				$("#playerCreate").remove();
				$("#gameWindow").show();
			}
		});

		socket.on("kickPlayer", function(name) {
			if(player.name === name){
				console.log("You have been kicked for inactivity.");
				socket.disconnect();
				$("#gameWindow").hide();
				$("#disconnect").show();
			}
		});

		socket.on("heartbeat", function(data) {
			console.log(data);
		});

		function updatePlayer(player){

			var formattedStats = formatStats(player);

			$("#player").html(formattedStats);

		}

		function formatStats(player){	
			var ret = player.name
				+ "<br />" + "HP: " + player.currentHP + "/" + player.HP
				+ "<br />" + "Level: " + player.level
				+ " | EXP: " + player.exp
				+ "<br />" + "Mana: " + player.currentMana + "/" + player.mana;

			return ret;
		}

		function updateMonsters(monsters){
			var formattedMonsters = "";

			for(var i = 0; i < monsters.length; i++){
				formattedMonsters += formatMonster(monsters[i]);
				console.log(formattedMonsters);
			}

			$("#monsters").html(formattedMonsters);
		}

		function formatMonster(monster){
			var ret = monster.name
				+ "<br />" + "Level: " + monster.level
				+ "<br />" + "HP: " + monster.currentHP + "/" + monster.HP;

			return ret;
		}

		//*** TURN INFORMATION ***//
		socket.on("turnStart", function(data) {
			console.log("Starting Turn.");
			$("#playerActions").show();
		});

		socket.on("turnEnd", function(data) {
			console.log("The turn is over.");
			$("#playerActions").hide();
		});

		socket.on("monstersBroadcast", function(data) {
			console.log("Monsters:");
			console.log(data);

			updateMonsters(data);
		});

		//*** PLAYER ACTIONS ***//
		function playerAction(action){
			var data = {
				"roomName": roomName,
				"player": player,
				"action": action
			}
			socket.emit("playerAction", JSON.stringify(data));

		}

		$("#attack").click(function() {
			console.log("Attacking monster");
			playerAction("attack");
		});
		

	});
</script>

</body>

</html>

