<!DOCTYPE html>
<html>

<head>
<title>Computer Networking Fall 2015</title>
<link rel=stylesheet href={{ url_for('static', filename='style.css') }} type=text/css>
</head>

<body>

<div id="playerCreate">
	Enter your character information: <br />
	Name: <input id="playerCreateName" /> <br>
	<br>
	<button id="playerCreateSend">Submit</button>

</div>

<div id="gameWindow">

	<div id="monsters">
		Enemies: <br />
	</div>

	<br />

	<div id="player">
	</div>

	<br />

	<div id="party">
	</div>

	<br />

	<div id="chat">
		<ul id="chatMessages"> </ul>
		<input id="chatMessage" /><button id="send">Send</button>
	</div>

	<br />

	<div id="timer">
	</div>

</div>

<div id="disconnect">
You have been kicked for inactivity.
</div>


<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var socket = io.connect('http://' + document.domain + ':' + location.port + "/rpg");
		$("#gameWindow").hide();
		$("#disconnect").hide();

		//*** GLOBAL VARIABLES ***//
		var roomName = "";
		var player = "";
		var playerNameVerify = "";
		var monsters;

		//*** CONNECTION ***//
		socket.on('connect', function() {
			//console.log("connected.");
		});

		socket.on("disconnect", function() {
			//console.log("disconnected!");
		});

		//*** CHAT ***//
		$("#send").click(function() {
			var data = {
				"roomName": roomName,
				"playerName": player.name,
				"message": $("#chatMessage").val()
			}
			socket.emit("chatMessage", JSON.stringify(data));
			$("#chatMessage").val("");
		});

		socket.on("chatMessage", function(data) {
			$("#chatMessages").append($("<li>").text(data.playerName + ": " + data.message));
			//console.log(message);
			$("#chatMessages").animate({scrollTop: $("#chatMessages").prop("scrollHeight")}, 0);
		});

		socket.on("gameUpdate", function(data) {
			$("#chatMessages").append($("<li>").text(data.message));
			$("#chatMessages").animate({scrollTop: $("#chatMessages").prop("scrollHeight")}, 0);
		});

		//*** PLAYER AND ROOM META ***//
		$("#playerCreateSend").click(function() {
			playerNameVerify = $("#playerCreateName").val();
			var information = {
				player: {
					"name": $("#playerCreateName").val()
				}
			};
			socket.emit("playerJoin", JSON.stringify(information));
		});

		socket.on("confirmPlayerJoin", function(json) {
			checkPlayer = json.player;
			if(checkPlayer.name === playerNameVerify){
				roomName = json.roomName;
				player = json.player;

				console.log("confirmed, room is " + json.roomName);
				console.log("Player Information: ");
				console.log(player);

				updatePlayer(player);

				$("#playerCreate").remove();
				$("#gameWindow").show();
			}
		});

		socket.on("kickPlayer", function(name) {
			if(player.name === name){
				console.log("You have been kicked for inactivity.");
				socket.disconnect();
				$("#gameWindow").hide();
				$("#disconnect").show();
			}
		});

		socket.on("deadPlayer", function(name) {
			if(player.name === name){
				socket.disconnect();
				$("#gameWindow").hide();
				$("#disconnect").html("You have been killed!");
				$("#disconnect").show();
			}
		});

		socket.on("heartbeat", function(data) {
			console.log(data);
			$("#timer").html(data + " seconds left.");
		});

		function updatePlayer(player){

			var formattedStats = formatStats(player);

			$("#player").html(formattedStats);

		}

		function formatStats(player){	
			var ret = player.name
				+ "<br />" + "HP: " + player.currentHP + "/" + player.HP
				+ "<br />" + "Mana: " + player.currentMana + "/" + player.mana
				+ "<br />" + "Level: " + player.level
				+ " | EXP: " + player.exp;

			return ret;
		}

		function updateMonsters(monstersData){
			var formattedMonsters = "";

			monsters = monstersData;

			for(var i = 0; i < monstersData.length; i++){
				formattedMonsters += formatMonster(monstersData[i]);
				console.log(formattedMonsters);
			}

			$("#monsters").html(formattedMonsters);

			for(var i = 0; i < monstersData.length; i++){
				var monsterName = monstersData[i].name;
				console.log("Binding... " + monsterName);
				bindAttack(monsterName);
			}
		}

		function updatePlayers(playersData) {
			var formattedPlayers = "";

			for(var i = 0; i < playersData.length; i++){
				if(playersData[i].name == player.name){
					updatePlayer(playersData[i]);
				} else {
					formattedPlayers += formatStats(playersData[i]);
				}
			}

			$("#party").html(formattedPlayers);

		}

		function bindAttack(name){
			$("#" + name).off("click");
			$("#" + name).on("click", function() {
				console.log(name);
				console.log("attacking monster");
				playerAction("attack", name);
			});
			console.log("Bound " + name);
		}

		function formatMonster(monster){
			var ret = monster.name
				+ "<br />" + "Level: " + monster.level
				+ "<br />" + "HP: " + monster.currentHP + "/" + monster.HP

				+ "<div class='playerActions'>"
					+ "<button class='attack' id='" + monster.name + "'>Attack</button>"
				+ "</div>";

			return ret;
		}

		//*** TURN INFORMATION ***//
		socket.on("turnStart", function(data) {
			console.log("Starting Turn.");
			$("#playerActions").show();
		});

		socket.on("turnEnd", function(data) {
			console.log("The turn is over.");
			$("#playerActions").hide();
		});

		socket.on("monstersBroadcast", function(data) {
			console.log("Monsters:");
			console.log(data);

			monsters = data;
			updateMonsters(data);
		});

		socket.on("playersBroadcast", function(data) {
			updatePlayers(data);
		});

		//*** PLAYER ACTIONS ***//
		function playerAction(action, targetName){
			var target = 0;
		
			for(var i = 0; i < monsters.length; i++){
				if(targetName == monsters[i].name)
					target = monsters[i];
			}

			if(target == 0)
				return;

			var data = {
				"roomName": roomName,
				"player": player,
				"target": target,
				"action": action
			}
			socket.emit("playerAction", JSON.stringify(data));

		}

	});
</script>

</body>

</html>

